body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
			
	background-color: #ffffff;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
		  
	border: none;
}

/* header */

.main-header {
	font-size: 17px;
	line-height: 17px;
}

.main-header a {
	color: #ffffff;
}

.top-menu {
	line-height: 18px;
	color: #ffffff;
	
	background-color: #293449;
}

.top-menu:hover,
.top-menu:focus {
	background-color: #212a3a;
}

.main-header-logo {
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
}

.main-header-logo:hover, 
.main-header-logo:focus {
	background-color: #ca2c37; 
}

.main-header-logo:active {
	background-color: #ba2732; 
}

.search input[value] {
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	
	background-color: #293449;
	border: none;
}

.search input[value]:focus {
	color: #000;
	
	background-color: #fff;
}

.button-marker:active,
.basket:active {
	color: #ffffff;
	opacity: 0.6;
	
	background-color: #161d29;
}

.order {
	background-color: #63a63e;
}

.order:hover,
.order:focus {
	background-color: #5fbb2d;
}

.order:active {
	color: #ffffff;
	opacity: 0.6;
	
	background-color: #518534;
}

.header-column {
	font-size: 21px;
	line-height: 21px;
	
	background-color: #f3f7f9; 
}

.designation {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;	
}

.number {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;	
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.header-row a {
	color: #000;
	
	background-color: #fff;
}

.header-row a:hover,
.header-row a:focus {
	color: #ee3643;
}

.header-row a:active {
	color: #000000;
	opacity: 0.3;
}
.main-navigation {
	background-color: #32425c;
}

.site-navigation a,
.products-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	color: #ffffff;
	opacity: 0.5;
	
	background-color: #1d2739;
}

.inner-page .basket {
	background-color: #ee3643;
	
	display: inline-block;
}

.button-exit {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	
	background-color: #ffffff;
}

.button-exit a:hover,
.button-exit a:focus {
	color: #000000;
}

.button-exit a:active {
	opacity: 0.3;
}

.personal a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.personal a:hover,
.personal a:focus {
	color: #ee3643;
}

.personal a:active {
	color: #32425c;
	opacity: 0.3;
}

/* main Главная*/

.service {
	background-color: #f4f8f9;
}

.service h2,
.company h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.service h3 {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.service p,
.company p {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.service-selection button {
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #32425c;
}

.service-selection button:hover,
.service-selection button:focus {
	background-color: #293449;
}

.service-selection button:active {
	color: #32425c;
	
	background-color: #ffffff;
}

.company ul {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

/* main Каталог */

.inner-page .container {
	font-family: 'PT Sans', Arial, sans-serif;
	color: #000000;
}

.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.breadcrumbs-current {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.container h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	
	background-color: #f2f6f8;
}

.filter h2 {
	font-size: 13px;
	line-height: 18px;
}

.filter legend {
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
}

.filter ul {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.filter-button {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	
	background-color: #ffffff;
}

.catalog-item {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}

.catalog-category {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.catalog-item-price span {
	color: #999999;
	text-align: center;
	text-decoration: line-through;
}

.catalog-item-price a,
.catalog-item-price.button {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	background-color: #ee3643;
	
}

.catalog-item .visually-hidden {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	
}

.button-buy {
	color: #ffffff;
	
	display: inline-block;
	background-color: #63a63e;
}

.button-buy:hover, 
.button-buy:focus {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-add-marker {
	color: #32425c;
	
	display: inline-block;
	background-color: #ffffff;
}

.button-add-marker:hover,
.button-add-marker:focus {
	color: #32425c;
}

.button-add-marker:active {
	opacity: 0.3;
}

.info {
	background-color: #f2f6f8;
}

.info h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
}

.info p {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

/* footer */

.top-footer {
	background-color: #32425c;
}

.top-footer .main-header-logo {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
}

.top-footer .contacts {
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.products-navigation a {
	color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	opacity: 0.5;
	text-decoration: none;
}

.bottom-footer {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:focus {
	color: #ee3643;
	text-decoration: none;
}


/* поппер попросили поставить display: none; */

.modal  {
	display: none;
}

