body {

	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
			
	background-color: #ffffff;
	
	width: 1200px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
		  
	border: none;
}

/* header */

.main-header {
	font-size: 17px;
	line-height: 17px;
}

.main-header a {
	color: #ffffff;
}

.top-menu {
	line-height: 18px;
	color: #ffffff;
	
	background-color: #293449;
	
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 130px;
}

.top-menu ul {
	margin: 0;
	padding: 0;
}

.top-menu:hover,
.top-menu:focus {
	background-color: #212a3a;
}

.main-header-logo {
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	
	margin: 0;
	padding: 0;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;	
}

.main-header-logo:hover, 
.main-header-logo:focus {
	background-color: #ca2c37; 
}

.main-header-logo:active {
	background-color: #ba2732; 
}

.search input {
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	
	background-color: #293449;
	border: none;
}

.search input:focus {
	color: #000000;
	
	background-color: #fff;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

.button-marker:active,
.basket:active {
	color: #ffffff;
	opacity: 0.6;
	
	background-color: #161d29;
}

.basket-red {
	background-color: #ee3643;
	
	display: inline-block;
}


.order {
	background-color: #63a63e;
}

.order:hover,
.order:focus {
	background-color: #5fbb2d;
}

.order:active {
	color: #ffffff;
	opacity: 0.6;
	
	background-color: #518534;
}

.header-column {
	font-size: 21px;
	line-height: 21px;
	
	background-color: #f3f7f9; 
	
	margin: 0;
	padding: 46px 130px 65px 130px;
}

.header-row {
	display: flex;
	justify-content: space-between; 
	margin-bottom: 30px;
}

.header-row a {
	color: #000000;
	
	background-color: #ffffff;
}

.header-row a:hover,
.header-row a:focus {
	color: #ee3643;
}

.header-row a:active {
	color: #000000;
	opacity: 0.3;
}

.header-caption {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;	
	
	width: 200px;
	margin: 0;
	margin-left: 53px;
}

.header-row .contacts {
	margin: 0;
	padding: 0;
	margin-left: 70px;
}

.header-row .number {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;	
	
	width: 264px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	border: 3px solid #ffffff;
}

.header-row .address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	
	margin: 0;
	padding: 0;
	width: 255px;
}

.button-entry {
	width: 121px;
	margin: 0;
	padding:0;
	margin-left: 68px;
}

.button-registration {
	width: 150px;
	margin: 0;
	padding:0;
	margin-left: 10px;
}

.user-info {
	margin: 0;
	padding: 0;
	margin-left: 50px;
}


.button-exit {
	margin: 0;
	padding: 0;
	
}

.button-exit a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	
	background-color: #ffffff;
	
	width: 300px;
	display: inline-block;
}

.button-exit a:hover,
.button-exit a:focus {
	color: #000000;
}

.button-exit a:active {
	opacity: 0.3;
}

.personal {
	display: flex;
	margin: 0;
	padding: 0;
}

.personal li {
	margin: 0;
	padding: 0;
}

.personal a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
	
	margin-left: 18px;
	background-color: transparent;
}

.personal a:hover,
.personal a:focus {
	color: #ee3643;
}

.personal a:active {
	color: #32425c;
	opacity: 0.3;
}

.main-navigation {
	background-color: #32425c;
	box-shadow: 0 5px 0 #293449;
}

.site-navigation {
	margin: 0;
	padding: 0;
}

.site-navigation a,
.products-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	color: #ffffff;
	opacity: 0.5;
	
	background-color: #1d2739;
}

/* main Главная*/

.container {
	color: #000000;
}

.category {
	margin: 0;
	padding: 0 130px;
}

.products {
	margin: 0;
	padding: 0 130px;
}

.manufacturers {
	margin: 0;
	padding: 0 130px;
}

.service {
	background-color: #f4f8f9;
	
	margin: 0;
	padding: 0 130px;
}

.service-column {
	margin: 0;
	padding: 0;
	padding-bottom: 102px;
	display: flex;
	justify-content: space-between;
}

.service h2,
.company h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.service h2 {
	margin: 0;
	padding: 68px 0 35px 0;
	padding-top: 53px;
}

.service h3 {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.service p,
.company p {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.service p {
	margin: 0;
	padding: 0;
	width: 400px;
	margin-bottom: 62px;
}

.service-selection {
	margin: 0;
	padding: 0;
}

.service-selection button {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	background-color: #32425c;
	
	width: 240px
}

.service-selection button:hover,
.service-selection button:focus {
	background-color: #293449;
}

.service-selection button:active {
	color: #32425c;
	
	background-color: #ffffff;
}

.delivery {
	display: flex;
	margin-left: 80px;
}

.delivery h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.delivery-img {
	margin-left: 135px;
}

.delivery p {
	margin: 0;
	padding: 0;
	width: 280px;
}

.delivery-column {
	margin: 0;
	padding: 0;
}

.company {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 67px 130px 86px 130px;
}

.company-technomart h2 {
	margin: 0;
	padding: 0;
}

.company-technomart p {
	margin: 0;
	padding: 0;
	width: 530px;
	margin-top: 26px;
}

.company ul {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.company .button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
	background-color: #ee3643;
}

.button-company {
	margin: 0;
	padding: 0;
	margin-top: 28px;
	display: inline-block;
	width: 220px;
}

.contacts h2  {
	margin: 0;
	padding: 0;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-top: 26px;
	width: 180px;
}

.write-us {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	display: inline-block;
	width: 300px;
}

/* main Каталог */

.breadcrumbs {
	margin: 0;
	padding: 0 130px;
	display: flex;
}

.breadcrumbs a {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.breadcrumbs-current {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.container h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	
	background-color: #f2f6f8;
	
	margin: 0;
	padding: 0 130px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 130px;
}

.filters {
	width: 220px;
}

.filter {
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
	border-bottom: 1px solid #e5e5e5;
  
	margin: 0;
	padding: 0;
}

.filter fieldset:nth-of-type(3) {
	border: none;
}

.filters h2 {
	font-size: 13px;
	line-height: 18px;
	
	margin: 0;
	padding: 0;
}

.filter legend {
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	
	margin: 0;
	padding: 0;
}

.filter ul {
	font-size: 15px;
	line-height: 20px;
	
	margin: 0;
	padding: 0;
}

.filter-button {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
	
	margin: 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	width: 138px;
	
}

.sorting h2 {
	margin: 0;
	padding: 0;
}

.catalog {
	font-family: 'PT Sans', Arial, sans-serif;
	
	width: 700px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 52px;
}

.catalog-item {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	
	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-category {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.catalog-item-price span {
	color: #999999;
	text-align: center;
	text-decoration: line-through;
}

.catalog-item-price a,
.catalog-item-price.button {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	background-color: #ee3643;
	
}

.catalog-item .visually-hidden {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	
}

.button-buy {
	color: #ffffff;
	
	display: inline-block;
	background-color: #63a63e;
}

.button-buy:hover, 
.button-buy:focus {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-add-marker {
	color: #32425c;
	
	display: inline-block;
	background-color: #ffffff;
}

.button-add-marker:hover,
.button-add-marker:focus {
	color: #32425c;
}

.button-add-marker:active {
	opacity: 0.3;
}

.info {
	background-color: #f2f6f8;
	
	margin: 0;
	padding: 67px 130px 68px 130px;
}

.info h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	
	margin: 0;
	padding: 0;
}

.info p {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	
	margin: 0;
	padding: 0;
	margin-top: 34px;
}

/* footer */

.main-footer {
	margin: 0;
	padding: 0;
}

.top-footer {
	background-color: #32425c;
	
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 130px;
	padding-bottom: 40px;
}

.top-footer .main-header-logo {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	
	width: 220px;
	margin-bottom: 24px;
}

.top-footer .contacts {
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
	
	margin: 0;
	padding: 0;
}

.footer-contacts p {
	margin: 0;
	padding: 0;
	width: 330px;
}

.footer-navigation ul {
	margin: 0;
	padding: 0;
	margin-right: 
}

.products-navigation a {
	color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	opacity: 0.5;
	text-decoration: none;
}

.bottom-footer {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	background-color: #293449;
	
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 130px;
}

.copyright {
	margin: 0;
	padding: 0;
	width: 230px;
	margin-right: 160px;
}

.footer-social {
	margin: 0;
	padding: 0;
	margin-right: 118px;
}

.feedback {
	margin: 0;
	padding: 0;
}

.feedback:nth-of-type(2) {
	width: 140px;
	margin-right: 48px;
}

.feedback:nth-of-type(3) {
	width: 100px;
	margin-left: auto;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:focus {
	color: #ee3643;
	text-decoration: none;
}

/* поппер попросили поставить display: none; */

.modal  {
	display: none;
}